@font-face {
  font-family: "poppins";
  src: url(./Poppins-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "arial", "serif";
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #e3e9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  width: 80vw;
  display: grid;
  grid-template-rows: 1fr 5fr auto;
}
.container .title {
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: larger;
  color: white;
  background-color: #af7eeb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .todo-pane {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
}
.container .todo-pane .todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
}
.container .todo-pane .todos .todo {
  user-select: none;
  width: 75%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: #8e96bb;
}
.container .todo-pane .todos .todo .checkbox-round {
  margin: 0 1rem;
  height: 1.2rem;
  width: 1.2rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  border: #8e96bb 2px solid;
  cursor: pointer;
}
.container .todo-pane .todos .todo .checkbox-round:checked {
  background-color: #af7eeb;
}
.container .todo-pane .todos .trash {
  height: 100%;
  width: 25%;
  color: #8e96bb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container .todo-pane .todos .trash * {
  pointer-events: none;
}
.container .todo-pane .todos .trash .trash-icon {
  height: 1.25rem;
}
.container .new-task-btn {
  background-color: #af7eeb;
  min-width: 30%;
  max-width: 50%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  color: white;
  margin-top: -5%;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}
.container .new-task-btn .plus {
  color: white;
  height: 50%;
  width: 20%;
}
.container .modal {
  display: none;
  z-index: 2;
  min-height: 30vh;
  width: 80vw;
  position: fixed;
  border: 2px solid #af7eeb;
  border-radius: 20px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #e3e9ff;
  padding: 1em;
  transition: zoom 3s ease-in-out;
}
.container .modal .modal-header {
  height: 30%;
  width: 100%;
  margin-bottom: 5rem;
  color: #af7eeb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px #af7eeb solid;
}
.container .modal .modal-header span {
  font-size: 2rem;
  cursor: pointer;
}
.container .modal .modal-content {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .modal .modal-content input {
  width: 70%;
  outline: none;
  background-color: #e3e9ff;
  border: none;
  border-bottom: 1px solid #af7eeb;
  margin: 1rem 0rem;
  padding: 0 0.3em;
}
.container .modal .modal-content input:focus {
  color: #af7eeb;
}
.container .modal .modal-content button {
  outline: none;
  background-color: #af7eeb;
  cursor: pointer;
  padding: 0.5em 2em;
  font-size: 1.2rem;
  border: none;
  color: white;
  border-radius: 20px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
