@font-face {
  font-family: "poppins";
  src: url(./Poppins-Medium.ttf);
}
//color variables
$text-color: rgba(142, 150, 187, 1);
$theme-color: rgba(175, 126, 235, 1);
$shadow-color: rgba(175, 126, 235, 0.3);
$bg-color: rgba(227, 233, 255, 1);
//meadia query variables
$mobile-width : 480px;
$tablet-width: 600px;
$laptop-width: 1024px;
$desktop-width: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "arial", "serif";
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  width: 80vw;
  display: grid;
  grid-template-rows: 1fr 5fr auto;

  .title {
    margin: 1rem 0;
    font-weight: bold;
    font-size: larger;
    color: white;
    background-color: $theme-color;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px 5px $shadow-color;
    justify-content: center;
  }

  .todo-pane {
    box-shadow: 0px 0px 8px 5px $shadow-color;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    .todos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 5rem;

      .todo {
        user-select: none;
        width: 75%;
        min-height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        color: $text-color;

        .checkbox-round {
          margin: 0 1rem;
          height: 1.2rem;
          width: 1.2rem;
          background-color: white;
          border-radius: 50%;
          vertical-align: middle;
          appearance: none;
          border: $text-color 2px solid;
          cursor: pointer;

          &:checked {
            background-color: $theme-color;
          }
          }
        }
      }

      .trash {
        height: 100%;
        width: 25%;
        color: $text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

                *{
                  pointer-events: none;
                }

        .trash-icon {
          height: 1.25rem;
        }
      }
    }
  }

  .new-task-btn {
    background-color: $theme-color;
    min-width: 30%;
    max-width: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    color: white;
    margin-top: -5%;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;

    .plus {
      color: white;
      height: 50%;
      width: 20%;
    }
  }

  .modal {
    display: none;
    z-index: 2;
    min-height: 30vh;
    width: 80vw;
    position: fixed;
    border: 2px solid $theme-color;
    border-radius: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: $bg-color;
    padding: 1em;
    transition: zoom 3s ease-in-out;

    .modal-header {
      height: 30%;
      width: 100%;
      margin-bottom: 5rem;
      color: $theme-color;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px $theme-color solid;

      span {
        font-size: 2rem;
        cursor: pointer;
      }
    }

    .modal-content {
      height: 70%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        width: 70%;
        outline: none;
        background-color: $bg-color;
        border: none;
        border-bottom: 1px solid $theme-color;
        margin: 1rem 0rem;
        padding: 0 0.3em;

        &:focus {
          color: $theme-color;
        }
      }

      button {
        outline: none;
        background-color: $theme-color;
        cursor: pointer;
        padding: 0.5em 2em;
        font-size: 1.2rem;
        border: none;
        color: white;
        border-radius: 20px;
      }
    }
  }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
}

.active{
  text-decoration: line-through;
  opacity: 0.75;
}

@media screen and (min-width: $tablet-width){
  .container{
    width: 50vw;
    .plus{
      width: 10%;
    }
    .modal{
      width: 30vw;
    }
  } 
}

@media screen and (min-width: $laptop-width){
  .container{
    width: 45vw;
    .plus{
      width: 10%;
    }
  .modal{
      width: 30vw;
    }
}  
}

@media screen and (min-width: $desktop-width){
  .container{
    width: 33vw;
    .plus{
      width: 10%;
    }
  .modal{
      width: 30vw;
    }
}  
}
